<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>connaughtcounties</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Connaughtcounties</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Counties in Connaught</h1>
  <ul>
    <li>Sligo</li>
    <li>Mayo</li>
    <li>Roscommon</li>
    <li>Leithrim</li>
    <li>Galway</li>
  </ul>
</ion-content>
